
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
  <meta charset="UTF-8">
  <title>Lost And Found</title>
</head>
<body>
<div style="background-color:white; width: 500px; height: 650px; text-align:center; vertical-align: center; margin-left: auto;
  margin-right: auto;">
  <div><img class="one" src="images/Aurora_University_logo.jpg" alt="Aurora Banner" style="height: 130px;width: 400px;"></div>
  <h1> Lost And Found </h1>
  </br>
  <form>
    Username </br><input type="text" size="50" ></br>
    Password </br><input type="text" size="50"></br>
    </br>
    <button><a href="/admin/unclaimed">Admin Log-In</a></button>
  </form>
  <form>

    <button><a href="/lostform">Report A Lost Item</a></button>
  </form>
</div>
</body>
</html>