<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <p align="left">
    <button><a href="/admin/unclaimed"> Back to Unclaimed Items</a></button>
    </p>
</head>
<body>
<div class="log-form" style="background-color:white; width: 500px;height: 775px; text-align:center; vertical-align: center; margin-left: auto;
  margin-right: auto;">
    <div><img class="one" src="/images/Aurora_University_logo.jpg" alt="Aurora Banner" style="height: 130px;width: 400px;"></div>
    <h2>Log an Item</h2>
    <form action="/admin/create" method="POST">
        <label for="ItemCategory">Item Category:</label>
        <select name="itemcat" id="itemcat">
            <option value="1">Electronic</option>
            <option value="2">Wallet</option>
            <option value="3">Keys</option>
            <option value="4">ID</option>
        </select>
        <label>Item Name</label>
        <input type="text" placeholder="Enter Item Name" name="itemname" required>
        <label>Description</label>
        <input type="text" placeholder="Enter Item Desc" name="itemdesc" required>
        <label>Value</label>
        <input type="text" placeholder="Enter Item Value" name="itemvalue" >
        <label>Location</label>
        <input type="text" placeholder="Enter Location" name="itemlocation" >
        <label>Date</label>
        <input type="date" placeholder="Enter Date" name="itemdate" >
        <label>Time</label>
        <input type="time" placeholder="Enter Time" name="itemtime" >
        <br><br>

        <button type="submit">Submit</button>
    </form>


</div>

</body>
</html>
