<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fetch using MySQL and Node.js</title>
</head>
<body>
<div class="table-data">
    <h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Location Found</th>
            <th>Date Found</th>

        </tr>

        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.item_id%></td>
            <td><%=data.item_type%></td>
            <td><%=data.date_found %></td>
            <td><%=data.item_desc%></td>
            <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
        <% } %>
    </table>
</div>
</body>
</html>
</html>